<a href="https://colab.research.google.com/github/ParsaHejabi/ComputationalIntelligence-ComputerAssignments/blob/main/FinalProject/CI_FinalProject_tfidf_MultinomialNB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import dataset from Google Drive to Colab

In [ ]:
!rm cleaned_train.csv
!rm cleaned_test.csv

!cp drive/MyDrive/CI_FinalProject/cleaned_train.csv ./
!cp drive/MyDrive/CI_FinalProject/cleaned_test.csv ./

# Import all important things

In [ ]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer

import pickle

# Preprocessing

## Load cleaned train data

In [ ]:
train_data = pd.read_csv('cleaned_train.csv', usecols=['clean_text', 'Category'])
train_data['category_id'] = train_data['Category'].factorize()[0]
train_data.head()

                   Category  ... category_id
0       Science and Culture  ...           0
1                     Sport  ...           1
2                   Economy  ...           2
3  Miscellaneous.World News  ...           3
4                     Sport  ...           1

[5 rows x 3 columns]

In [ ]:
test_data = pd.read_csv('cleaned_test.csv', usecols=['Id', 'clean_text'])
test_data.head()

   Id                                         clean_text
0   0  هفت اقلیم آلودگی هوا پکن را تهدید میکند باافزا...
1   1  گل و گیاه زعفران زینتی نام علمی: crocus banati...
2   2  یادداشت قانون بودجه و صنایع کوچک در شماره گذشت...
3   3  در سالروز میلاد حضرت مهدی همایش ادبی دانش آموز...
4   4  از ira تا فارک بوگوتا، پایتخت پرهرج ومرج کلمبی...

In [ ]:
label2id = {label: i for i, label in enumerate(train_data['Category'].unique())}
id2label = {v: k for k, v in label2id.items()}

print(f'label2id: {label2id}')
print(f'id2label: {id2label}')

label2id: {'Science and Culture': 0, 'Sport': 1, 'Economy': 2, 'Miscellaneous.World News': 3, 'Miscellaneous.Urban': 4, 'Social.Women': 5, 'Social': 6, 'Literature and Art': 7, 'Politics': 8, 'Miscellaneous': 9, 'Economy.Bank and Bourse': 10, 'Politics.Iran Politics': 11, 'Tourism': 12, 'Social.Religion': 13, 'Miscellaneous.Picture': 14, 'Miscellaneous.Happenings': 15, 'Science and Culture.Science.Book': 16, 'Literature and Art.Art': 17, 'Miscellaneous.Islamic Councils': 18, 'Literature and Art.Art.Cinema': 19, 'Science and Culture.Science.Information and Communication Technology': 20, 'Economy.Oil': 21, 'Economy.Commerce': 22, 'Natural Environment': 23, 'Science and Culture.Science': 24, 'Economy.Industry': 25, 'Economy.Agriculture': 26, 'Sport.World Cup': 27, 'Miscellaneous.Picture.Caricature': 28, 'Literature and Art.Art.Music': 29, 'Literature and Art.Art.Theater': 30, 'Economy.Dwelling and Construction': 31, 'Science and Culture.Science.Medicine and Remedy': 32, 'Literature and Art.Literature': 33}
id2label: {0: 'Science and Culture', 1: 'Sport', 2: 'Economy', 3: 'Miscellaneous.World News', 4: 'Miscellaneous.Urban', 5: 'Social.Women', 6: 'Social', 7: 'Literature and Art', 8: 'Politics', 9: 'Miscellaneous', 10: 'Economy.Bank and Bourse', 11: 'Politics.Iran Politics', 12: 'Tourism', 13: 'Social.Religion', 14: 'Miscellaneous.Picture', 15: 'Miscellaneous.Happenings', 16: 'Science and Culture.Science.Book', 17: 'Literature and Art.Art', 18: 'Miscellaneous.Islamic Councils', 19: 'Literature and Art.Art.Cinema', 20: 'Science and Culture.Science.Information and Communication Technology', 21: 'Economy.Oil', 22: 'Economy.Commerce', 23: 'Natural Environment', 24: 'Science and Culture.Science', 25: 'Economy.Industry', 26: 'Economy.Agriculture', 27: 'Sport.World Cup', 28: 'Miscellaneous.Picture.Caricature', 29: 'Literature and Art.Art.Music', 30: 'Literature and Art.Art.Theater', 31: 'Economy.Dwelling and Construction', 32: 'Science and Culture.Science.Medicine and Remedy', 33: 'Literature and Art.Literature'}

In [ ]:
vectorizer = TfidfVectorizer(sublinear_tf=True, min_df=30, norm='l2', ngram_range=(1, 2))
features = vectorizer.fit_transform(train_data['clean_text'])
labels = train_data['category_id']

In [ ]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()

In [ ]:
model.fit(features, labels)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
test_features = vectorizer.transform(test_data['clean_text'])

In [ ]:
y_pred = model.predict(test_features)

In [ ]:
Y_pred_name =[]
for cat_id in y_pred:
  Y_pred_name.append(id2label[cat_id])

In [ ]:
submission = pd.DataFrame({
        "Id": test_data["Id"],
        "Category": Y_pred_name
    })

In [ ]:
submission.head()

   Id                  Category
0   0       Miscellaneous.Urban
1   1             Miscellaneous
2   2                   Economy
3   3             Miscellaneous
4   4  Miscellaneous.World News

In [ ]:
submission.to_csv('submission.csv', index=False)